@using RazorComponentLib
<h2>Static:</h2>
@(await Html.RenderComponentAsync<Counter>(RenderMode.Static))
<hr />
<h2>Server:</h2>
@(await Html.RenderComponentAsync<Counter>(RenderMode.Server))
<hr />
<h2>Server Prerendered:</h2>
@(await Html.RenderComponentAsync<Counter>(RenderMode.ServerPrerendered))
<hr />
<h2>WebAssembly:</h2>
@(await Html.RenderComponentAsync<Counter>(RenderMode.WebAssembly))
<hr />
<h2>WebAssembly Prerendered:</h2>
@(await Html.RenderComponentAsync<Counter>(RenderMode.WebAssemblyPrerendered))
<hr />
